@use 'variables';

.birdthay {
    #contador {
        color: variables.$corTexto;
        align-items: flex-end;
        font-size: 36px;
        margin: 0 auto;
        display: block;
    }

    &__text {
        color: variables.$corTexto;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
}